html, body{
    height: 100%;
    width: 100%;
}
body {
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(255,255,255,.3) 0%, rgba(0,0,0,.5) 100%), url("/css/menu-images/grunge-paper-background.jpg");
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
/* vvv Scene Image CSS vvv */
#scene { 
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 5px auto;
}

#scene1 {
    height: 15rem;
    width: 97%;
    object-fit: fill;
    margin: .15rem
}

/* vvv Modal CSS vvv*/
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalContent {
    background: linear-gradient(0deg, rgba(255,255,255,.15) 0%, rgba(0,0,0,.2) 100%), url("https://st3.depositphotos.com/3441867/36553/i/450/depositphotos_365532416-stock-photo-leather-grunge-background-close-texture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 1rem;
    border: 3px solid rgba(255, 177,62, .5);
    border-radius: 15%;
    height: 75%; /* Could be more or less, depending on screen size */
    width: 75%;
    display: flex;
    justify-content: flex-end;
}

#mdlText {
    color: aliceblue;
    border-style: none;
    height: 95%;
    width: 90%;
}
.close { /* X Icon */
    margin-right: -115%;
    margin-top: -12%;
    color: aliceblue;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#inventory {
    font-size: 1.5rem;
    background: linear-gradient(45deg, rgba(139,139,139,1) 0%, rgba(236,235,235,1) 30%, rgba(248,251,255,1) 65%, rgba(165,198,255,1) 100%);
    margin: .2rem;
    padding: 0 45% 0 45%;
    border: 2px solid rgba(0,0,40,.7);
    border-radius: .4rem;
    box-shadow: 0 .4rem .259em rgba(0,0,0,.5);
}

#items {
    margin: .6rem auto;
    display: flex;
    gap: 2rem;
}

.choice {
    background: rgba(108, 122, 137, .6);
    border: 2.5px solid;
    border-radius: 50%;
    padding: 1.2rem;
    font-size: .8rem;
    box-shadow: -2px 4px 8px black, 3px -5px 8px black;
}
.good {
    background: rgba(255,18,18,.8);
}

.nuetral {
    background: rgba(47,105,223,.8);
}

.bad {
    background: rgba(0,152,35,.8);
}


.good:hover {
    box-shadow: -4px 6px 11px whitesmoke, 5px -7px 11px rgba(255,191, 3,1); 
}
.nuetral:hover {
    box-shadow: -4px 6px 11px whitesmoke, 5px -7px 11px rgba(255,191, 3,1); 
}
.bad:hover {
    box-shadow: -4px 6px 11px whitesmoke, 5px -7px 11px rgba(255,191, 3,1); 
}

#inventory:hover {
    border: 1.5px solid rgba(255,255,205,.8);
    box-shadow: -5px 3px 8px rgba(23, 147, 255, .5), 4px 3px 8px rgba(181, 220, 255, .5); 
}

#Storycontent {
    height: 15rem;
    width: 85%;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    padding: .5rem;
    border: .1rem solid ;
    border-radius: 1rem;
}

.first-line {
    font-size: 1.5rem;
    text-align: center;
    margin: 2px 0;
}

#story {
    margin: .5rem 0;
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    align-content: space-evenly;
    gap: 1.4rem;
}

li {
    font-size: 2.5rem;
    margin-right: 1rem;
    margin-left: -1.5rem;
    border: 2px solid rgba(220, 220, 220, .2);
    border-radius: 1rem;
    padding: 10px;
    /* display: flex;
    align-content: space-between;
    gap: 1rem; */
}


/* vvvv Media vvv */
@media (min-width: 600px) {
    #scene {
        display: flex;
        /* flex-direction: column; */
        align-content: center;
        width: 90%;
        height: 20rem;
        margin: auto;
    }

    #scene1 {
        height: 20rem;
        width: 125%;
        border: .2rem solid white ;
        margin: auto 0;;
    }

    #items {
        display: flex;
        gap: 8rem;
        margin: 1rem auto
    }

    li {
        font-size: 2.5rem;
        margin: 2rem;
        border: 2px solid rgba(220, 220, 220, .5);
        border-radius: 1rem;
        padding: 10px;
        display: flex;
        flex-flow: row wrap; 
    }
}