body {
    background-color:  navajowhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#scene { 
    display: flex;
    object-fit: contain;
    font-size: 2rem;
}

li {
    padding: 1rem;
    background-color: aqua;
}

.choice 1 {
    background-color: palevioletred;
    border: 5px solid;
    font-size: 5rem;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}