body {
    background-color:  navajowhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#scene { 
    font-size: 2rem;
    display: flex;
    justify-content: center;
    object-fit: fill;
    font-size: 2rem;
}


#inventory {
    font-size: 1rem;
    background-color: aqua;
    display: inline-flex;
    justify-content: center;
}

.choice {
    background-color: palevioletred;
    border: 3px solid;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 100%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}